---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$spacing-unit:  30px;

// Import partials from `sass_dir` (defaults to `_sass`)
@import
        "base",
        "layout",
        "syntax-highlighting"
;

.jumbotron {
  background-color: white;
}

.content {
  a {
    text-decoration: underline;
  }
  font-size: 1.2em;
}

.highlight-primary {
  background-color: #393;
  color: white;
  margin-bottom: 20px;
  a {
    color: white;
  }
}

.highlight-secondary {
  color: white;
  background-color: #5290d2;
  a {
    color: white;
  }
}

.rounded {
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
}

.details {
  margin-bottom: 20px;
}

.scratch-projects {
  background-color: #e18932;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.html-projects {
  background-color: #5290d2;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
}

.python-projects {
  background-color: #393;
  margin: 5px;
  padding: 5px 10px 5px 10px;
  border-radius: 10px;
  color: white;
  text-align: center;
}
